/*navbar*/
.nav {
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    margin-top: 25px;
}
.navbar
{
    background-image: url("https://wallpapercave.com/wp/a9QC91O.jpg");
}
.nav-link{
    color: darkslateblue;
    font-size: 27px;
    margin-left: 130px;
    margin-bottom:15px;
}
/*end navbar*/