/*navbar*/
.nav {
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    margin-top: 25px;
}
.navbar
{
    background-image: url("https://www.demotivateur.fr/images-buzz/cover/4595053658ef81b4c7bcb_Sans-titre-2.jpg");
    opacity:0.8;
}
.nav-link{
    color: fuchsia;
    font-size: 25px;
    margin-left: 150px;
}
/*end navbar*/